@import "tailwindcss";

@layer base {
  :root {
    --selectPadding: 2;
    --paperPadding: 10px;
    --menu-height: 40px;
    --ribbon-height: 68px;
    --status-bar-height: 0px;
    --react-shell-height: 72px;
    --sideBarWidth: 0px;
    --total-offset: calc(var(--react-shell-height) + var(--menu-height) + var(--ribbon-height) + var(--status-bar-height));
  }

  html {
    height: 100%;
    background: white;
  }

  body {
    cursor: default;
  }

  button,
  select,
  select option,
  input[type="checkbox"] {
    cursor: pointer;
  }

  select option {
    background: #f7f7f7;
  }

  td[contenteditable="true"] {
    cursor: text;
  }
}
